{% extends 'base.html' %} 
{% block title %}Menu{% endblock title %} 
{% block menu%}active{%endblock %} 
{% block content %}
<div class="container  lg:max-w-screen-lg mx-auto">
  <div class="mt-20 sm:mt-0  p-3">
    <div class="h-7 w-7 rounded-full mt-12 bg-gray-400 hover:bg-gray-500 cursor-pointer transition-all shadow-md mb-1 text-white flex items-center justify-center" title="go back" onclick="history.back()"><i class="bi bi-arrow-left-circle text-lg"></i></div>
    <div class="md:grid grid  md:grid-cols-3 sm:grid-cols-1  md:gap-6 mb-5">
      <div class=" md:mt-0 bg-white p-2 shadow-md rounded-md mb-5">
        <div class="px-2 sm:px-0 ">
            <h3 class="text-lg font-medium leading-6 text-orange-600">Use promo code here .</h3>
            <p class="mt-1 text-sm text-gray-600">Get instant discount !</p>
          </div>
      
          <div class="p-2 rounded bg-gray-100  content-center mt-3">
              <input type="text" id="coupon" class="rounded bg-white" style="height:2em">
              <a class="px-2 py-1 text-white font-bold border bg-red-500 rounded cursor-pointer hover:bg-red-600 transition-all" onclick="couponApply()">Apply</a>
              <p class="text-red-600 " id="message-div"></p>
          </div>
          {% if cart_obj.coupon_applied == 1 %}
            <div class="border rounded p-2 mt-1 bg-gradient-to-r from-violet-500 to-fuchsia-500 opacity-80 text-white font-bold">
              <i class="bi bi-x-lg float-right cursor-pointer" onclick="removeCoupon()"></i> 
              <i class="bi bi-patch-check font-bold"> </i> 
              {{cart_obj.coupon_used}} | OFF {{cart_obj.coupond_amount}}
            </div>
          {% endif %}
          <small class="text-gray-400">*please read Coupon terms & conditions carefuly !</small>
          <div class="px-2 sm:px-0 mt-1">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Order summery</h3>
          </div>
          <hr class="border-dashed">
          <div class=" justify-evenly mt-2">
            <h4 class="float-right font-bold">&#8377; {{cart_obj.get_cart_price}}</h4>
            <h4 class="font-bold">Price :</h4>
        </div>
        <div class="pb-1 justify-evenly">
            <h4 class="float-right font-bold">&#8377; {{cart_obj.delivery_charge}}</h4>
            <h4 class="font-bold">Delivey :</h4>
        </div>
        <div class="pb-1 justify-evenly">
            <h4 class="float-right font-bold text-green-600">-&#8377; {{cart_obj.coupond_amount}}</h4>
            <h4 class="font-bold">Total saving 😁 :</h4>
        </div>
        <hr class="border-dashed">
        <div class="pb-1 justify-evenly text-green-600">
            <h4 class="float-right font-bold">&#8377; {{cart_obj.get_delivery_amount}}</h4>
            <h4 class="font-bold">Subtotal : 🤑</h4>
        </div>
      </div>

      <div class="mt-5 md:mt-0 md:col-span-2 rounded-md shadow-md p-2 bg-white  mb-5">
        <div class="sm:px-0">
            <h3 class="text-lg font-medium leading-6 text-gray-900 mb-2 ">Select payment mode</h3>
        </div>
        <hr>
        <div class="grid gap-3 md:grid-cols-2 lg:grid-cols-2 sm:grid-cols-1 p-1 mt-1">
          <div class="border rounded p-1 border-orange-600 bg-voilet-600">
            <small>Delivery address</small>
            <div onclick="history.back()" class="float-right items-center mt-2 mx-2 py-1 px-2 hover:bg-gray-100 cursor-pointer rounded transition-int-out">
              <i class="bi bi-pencil-fill"></i>
            </div>
            <address class="text-gray-600">{{cart_obj.get_address}}</address>
          </div>

          <select name="" class=" rounded-l p-2 ml-2 shadow-md border font-bold text-center h-10" id="time-slot">
            <option class="font-bold border-0 " value="">---- select time slot ----</option>
            <option class="font-bold border-0 " value="Breakfast">Breakfast : ( 10:00 to 10:45 AM )</option>
            <option class="font-bold border-0 " value="Lunch">Lunch : ( 01:00 to 1:45 PM )</option>
            <option class="font-bold border-0 " value="Dinner">Dinner : ( 08:00 to 8:45 PM )</option>
          </select>
          
        </div>
        
        <h3 class="mb-2 text-lg font-medium text-gray-900 mt-4">Select payment method !</h3>
        <ul class="grid w-full gap-4 md:grid-cols-2 ">
            <li id="pay-btn " >
                <input type="radio" id="pay-btn" name="hosting"  value="pay-btn" class="hidden peer" required>
                <label for="pay-btn" class="inline-flex items-center justify-between w-full p-5 text-orange-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 ">                           
                    <div class="block">
                        <div class="w-full">Pay online now </div>
                    </div>
                    <svg aria-hidden="true" class="w-6 h-6 ml-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </label>
            </li>
            
            {% if cart_obj.get_used_coupon == 'ONLINE' %}
            {% else %}
            <li>
                <input type="radio" id="hosting-big" name="hosting" onclick="paymentCOD()" value="hosting-big" class="hidden peer">
                <label for="hosting-big" class="inline-flex items-center justify-between w-full p-5 text-orange-500 bg-white border border-gray-200 rounded-lg cursor-pointer  peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 ">
                    <div class="block">
                        <div class="w-full">Cash on delivery</div>
                    </div>
                    <svg aria-hidden="true" class="w-6 h-6 ml-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </label>
            </li>
            {% endif %}
        </ul>
        <p id="error" class="hidden text-red-600 font-bold">*Please select any time slot </p>

        {% comment %} <p class=" text-blue-600"><small >*Pay online and get up to 10% instant off T&C apply.</small></p> {% endcomment %}
        <!-- <div id="pay_btn" class="bg-red-400 hover:bg-red-600 transition-all cursor-pointer text-white py-2 pay_btn hidden  px-3 rounded text-center font-bold">
            Pay Online 
        </div> -->
      </div>  


        <!-- <div class="bg-red-600 cursor-pointer text-white py-2 px-3 mt-2 rounded text-center mt-2 p-3">
            <a href="{% url 'payment' %}" class="text-center font-bold" >Procced  payment</a>
        </div> -->
          
      </div>
    </div>
  </div>
</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
{% include 'razorpay.html' %}
{% include 'coupon_apply.html' %}
<script>
document.querySelector('#time-slot').addEventListener("change", function() {
  $.ajax({
    url : '{% url "time-slot-update" %}',
    method : 'GET',
    data:{
      time_slot:this.value
    },
    success(data){
      if (data.status == 200){
        console.log('saved !')
      }
    }
  })
});

function paymentCOD(){
  let timeslot = document.getElementById('time-slot');
  let error = document.getElementById('error');
  if (timeslot.value == ''){
    timeslot.classList.add('border-red-600')
    error.classList.remove('hidden')

  } else {
    $.ajax({
      url : "{% url 'cod-order' %}",
      method: 'POST',
      data : {csrfmiddlewaretoken:'{{csrf_token}}', mode:'COD'},
      success: function(data){
        let url = "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/order/thank-you/"+data.order_id+"/"
        window.location.href=url
      }
    })
  }
}


</script>
{% endblock %}
