<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}%%</title>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script type="text/javascript" src="jquery-1.4.2.min.js"></script>  
    <style>
      .inner-border::-webkit-scrollbar {
      display: none;
  }
    </style>
    
     
  </head>
  <body class=" ">

    <div class="container lg:max-w-screen-lg mx-auto px-5 mt-10">

      <div class="relative overflow-auto">
        <!-- Contents -->
        <div class="relative w-full flex gap-6 snap-x overflow-x-auto  inner-border">
          <div class="snap-center shrink-0">
            <div class="shrink-0 w-4 sm:w-48"></div>
          </div>
          <div class="snap-normal snap-center shrink-0 first:pl-8 last:pr-8 relative">
            <img class="shrink-0 w-80 h-40 object-cover rounded-lg shadow-xl bg-gray-200" src="https://images.unsplash.com/photo-1540206351-d6465b3ac5c1?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=320&amp;h=160&amp;q=80">

            <div class="absolute bottom-0 right-10 z-10 p-2 font-medium text-lg">
              <p class="flex-initial text-white">Chole ki dal </p>
            </div>

            <div class="absolute right-10 m-1 top-0">veg</div>

            <div class="absolute bottom-0 bg-gradient-to-t  from-gray-500 w-80 h-20 rounded-lg flex text-white font-bold items-center">
              <div class=" flex gap-3 m-1 items-center justify-evenly mt-10">
                <p>125</p>
                <button class="bg-orange-500 px-3 py-1 rounded  text-white ">Add now</button>
              </div> 
            </div>
            
          </div>
        </div>
      </div>
  </div>
    
    
  </div>
<!-- script part start here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/modal.min.js" integrity="sha512-aAW/TaSuYfyjTcMsaYP67Dwe0vI5d7ej9X7NJBPkhafB+D5kx57flRNo8+tOXWA0Gcq0MBmhPatrvn1YwvH9gQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/flowbite@1.5.5/dist/flowbite.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
     //find div
      var div = $('div.showcase');
      //find ul width
      var liNum = $(div).find('ul').children('li').length;
      var speed = 1000;
      var containerWidth = 848;
      var itemWidth = 212;
      //Remove scrollbars
      $(div).css({overflow: 'hidden'});
      $('div.right-arrow').click(function(e){	
            if(($(div).scrollLeft()+containerWidth)<(liNum*itemWidth)){
               $(div).animate({
                  scrollLeft: '+='+containerWidth
                }, speed);
            }
      });	
      $('div.left-arrow').click(function(e){	
          if(($(div).scrollLeft()+containerWidth)>containerWidth){
                  $(div).animate({
                  scrollLeft: '-='+containerWidth
                }, speed);
          }
      });
  });
  </script>
  </body>

</html>

