{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="container lg:max-w-screen-lg mx-auto px-5">

    <div class="felx justify-center text-center mt-8 shadow-lg shadow-blue-100 rounded bg-white relative p-10">
        <form method="post">
            {% csrf_token %}
            <div class="text-2xl font-medium text-blue-800 mb-3">
                Password reset with email
            </div>
            <div class="">
                <!-- <label for="email">Your email</label> -->
                <input type="email" id="email" class="rounded border-0 shadow-md shadow-red-100 border-l-4 border-red-600" placeholder="enter your email">
            </div>
            <button class="bg-blue-300 rounded py-1 px-3 mt-2 font-medium text-white shadow hover:bg-blue-500">Reset my password</button><br>
            {% if messages %}
                {% for message in messages %}
                    <div class=" text-red-500">*message</div>
                {% endfor %}
            {% endif %}
            <small class="text-gray-400">*You will receive reset link on your registered email </small>
        </form>
    </div>
    
</div>
<!-- JavaScript Bundle with Popper -->
{% endblock %}