{% extends 'base.html' %}
{% block title %} Foodie hub | cart {% endblock title %}
{% block cart%}text-red-600{%endblock %}
{% load static %}

{% block content %}
<style>
    .inner-border::-webkit-scrollbar {
    display: none;
}
  </style>

<div class="container lg:max-w-screen-lg mx-auto px-2 mb-5">
    <h2 class="text-bold text-2xl text-gray-400 font-bold">My food cart</h2>
    <div class="mt-5">
        <div class="grid md:grid-cols-3 sm:grid-cols-1 ls:grid-cols-2 gap-4">
            <div class=" md:col-span-2 lg:md:col-span-2 ms:col-span-1p-2">

                <div class=" p-2 ">
                    {% for item in items %}
                    <div class="flex items-center p-2 justify-between bg-white rounded-md border-b shadow-md relative mb-2">
                        <div class="flex"> <!-- product -->
                            <div class="w-20 rounded">
                                <img class="h-15 rounded" src="{{item.food.image.url}}" alt="">
                            </div>
                            
                            <div class="flex flex-col justify-center ml-4 flex-grow">
                                <span class="font-bold text-sm">{{item.food.name}} |
                                    {% if  items.type_of == 'veg' %}
                                        <img class="h-5 w-5 float-right" src="{% static 'images/assets/veg.png' %}" alt="veg">
                                    {% else %}
                                        <img class="h-5 w-5 float-right" src="{% static 'images/assets/nonveg.png' %}" alt="non veg">
                                    {% endif %}
                                </span>
                                <span class="text-gray-500 text-xs">{{item.food.deatil|truncatechars:25}} <i data-tooltip-target="tooltip-light" data-tooltip-style="light" class="bi bi-info-circle cursor-pointer"></i></span>
                                <div id="tooltip-light" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip">
                                    {{item.food.deatil}}
                                    <div class="tooltip-arrow" data-popper-arrow></div>
                                </div>
                                <span class=" font-semibold text-sm">&#x20B9; {{item.food.discounted}}</span>
                            </div>
                        </div>
                        
                        <div class="float-end text-center">

                            <a id="get_id" data-sid={{item.id}} class="cursor-pointer font-semibold hover:text-red-700  rounded text-red-500 px-1 absolute top-1 right-1">
                                <i class="bi bi-trash"></i>
                            </a>
                            <div class=" text-center shadow-md ">
                                <div class="border rounded px-1 bg-yellow-300 space-x-2 space-y-2 top-11 right-1 absolute">
                                    <span id="minus" data-sid={{item.id}} ><i class="bi bi-dash cursor-pointer"></i></span> 
                                    <span id="quantity">{{item.quantity}} </span>
                                    <span id="plus" data-sid={{item.id}} ><i class="bi bi-plus-lg cursor-pointer"></i></span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    {% empty %}
                        <div class=" py-2 px-3 bg-indigo-500 font-bold text-white text-center shadow-md rounded  ">Oops.. 😏  Your cart is empty !</div>
                    {% endfor %}

                    <div class="mt-5">
                        <div class="relative overflow-auto">
                            <!-- Contents -->
                            <div class=""></div>
                            <h2 class="font-bold text-2xl bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 mb-2">People also like</h2>
                            
                            <div class="relative w-full flex gap-6 snap-x overflow-x-auto  inner-border">
                              <div class="snap-center shrink-0">
                                <div class="shrink-0 w-4 sm:w-48"></div>
                              </div>

                              {% for item in favorite %}
                                <div class="snap-normal snap-center shrink-0 first:pl-8 last:pr-8 relative shadow-2xl">
                                    <img class="shrink-0 w-80 h-40 object-cover rounded-lg shadow-xl bg-gray-200" src="{{item.image.url}}">
                        
                                    <div class="absolute bottom-0  z-10 p-2 font-medium text-lg">
                                    <a href="{{item.get_absolute_url}}" class="flex-initial text-white">{{item.name}}</a>
                                    </div>
                        
                                    <div class="absolute m-2 right-0 top-0">
                                        {% if  item.type_of == 'veg' %}
                                            <img class="h-5 w-5 float-right" src="{% static 'images/assets/veg.png' %}" alt="veg">
                                        {% else %}
                                            <img class="h-5 w-5 float-right" src="{% static 'images/assets/nonveg.png' %}" alt="non veg">
                                        {% endif %}
                                    </div>

                                    <div class="absolute bottom-0 right-0 font-medium text-lg">
                                        <div class=" flex gap-3 m-1 items-center justify-evenly mt-10">
                                            <p class="mx-2 text-white text-sm text-bold">&#x20B9; {{item.discounted}}/<span class="text-gray-300 line-through">{{item.price}}</span></p>
                                            <a onclick="addItem(this)" id="{{item.id}}" class="bg-red-500 px-2  rounded text-white cursor-pointer">Add now</a>
                                        </div> 
                                    </div>
                        
                                    <!-- <div class="absolute bottom-0 z-10 bg-gradient-to-b from-gray-500 w-80 h-20 "> -->
                                    <!-- </div> -->
                                    
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="">
                    <div class=" bg-transparent shadow-md rounded">
                        {% comment %} <h2 class="text-2xmd font-bold">Apply coupon</h2>
                        <h6>Offers for you ?</h6>
                        <input class="rounded focus:border-red-600 mt-2" type="text" name="coupon_code" value="">
                        <button class="border rounded bg-gray-400 px-4 py-2 text-white">Apply</button> {% endcomment %}
                        {% if marketing %}
                            <a href="{{marketing.get_absolute_url}}">

                                <img class="rounded" src="{{marketing.image.url}}" alt="{{marketing.itmes.slug}}">
                            </a>
                        {% endif %}
                    </div>
                    <div class="rounded border mt-3 p-2 shadow-md">
                        <h2 class="text-2xmd font-bold">Order summary</h2>
                        <hr>
                        <div class=" justify-evenly mt-2">
                            <h4 class="float-right font-bold" id="get_cart_price">{{cart.get_cart_price}}</h4>
                            <h4 class="font-bold">Price :</h4>
                        </div>
                        <div class="pb-1 justify-evenly">
                            <h4 class="float-right font-bold text-gray-400" id="delivery_charge">{{cart.delivery_charge}}</h4>
                            <h4 class="font-bold text-gray-400">Delivery :</h4>
                        </div>
                        <div class="pb-1 justify-evenly">
                            <h4 class="float-right font-bold" id="coupond_amount">- {{cart.coupond_amount}}</h4>
                            <h4 class="font-bold">Discount :</h4>
                        </div>
                        <hr>
                        <div class="pb-1 justify-evenly">
                            <h4 class="float-right font-bold text-green-500" id="get_delivery_amount">&#x20B9; {{cart.get_delivery_amount}}</h4>
                            <h4 class="font-bold text-green-500">Subtotal :</h4>
                        </div>

                        <a href="{% url 'address' %}" class="text-center font-bold">
                            <div class="bg-red-600 text-white py-2 px-3 mt-2  cursor-pointer rounded text-center p-3">
                                Checkout
                            </div>
                        </a>    

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#get_id').on('click', function () {
        let get_id = $(this).attr('data-sid')
        data_obj = {
            item_obj: get_id,
        }
        $.ajax({
            url : '{% url "delete_item" %}',
            method : 'GET',
            data : data_obj,
            success : function(data){
                window.location.reload()
            }
        })

    })


    $('#minus').on('click', function () {
        let get_id = $(this).attr('data-sid')
        data_obj = {
            item_obj: get_id,
            action:'minus'
        };
        updateQuanitytCart(data_obj);

    })

    $('#plus').on('click', function () {
        let get_id = $(this).attr('data-sid')
        data_obj = {
            item_obj: get_id,
            action:'plus'
        };
        updateQuanitytCart(data_obj)

    })


    function updateQuanitytCart(data_obj){
        let get_cart_price = document.getElementById('get_cart_price') 
        let delivery_charge = document.getElementById('delivery_charge') 
        let coupond_amount = document.getElementById('coupond_amount') 
        let get_delivery_amount = document.getElementById('get_delivery_amount') 
        let quantity = document.getElementById('quantity')
        
        $.ajax({
            url : '{% url "update-qty" %}',
            method : 'GET',
            data : data_obj,
            success : function(data){
                if (data.quantity == 0){
                    $.ajax({
                        url : '{% url "delete_item" %}',
                        method : 'GET',
                        data : data_obj,
                        success : function(data){
                            window.location.reload()
                        }
                    })
                }
                console.log(data)
                delivery_charge.innerText = data.delivery_charge
                coupond_amount.innerText = data.coupond_amount
                get_delivery_amount.innerText = data.get_delivery_amount
                quantity.innerText = data.quantity
                get_cart_price.innerText = data.get_cart_price
            }
        })
    }


      // adding to the cart
function addItem(event){
  console.log(event)
    var dish_id = event.id
    console.log(dish_id)
    id = {
      dish_id : dish_id
    }
    $.ajax({
      url : "{% url 'Add_to_dabba' %}",
      method : 'GET',
      data : id,
      dataType : 'json',
      success : function(data){
        
        updateCart()
        if(data.status == 204){
            console.log('===================')
            window.location.reload()
        };
        if (data.status == 200){
            console.log('===================')
            window.location.reload()
        }
        if (data.status == 401){
            console.log('===================')
          window.location.reload()
        }
      }
    })
  }


</script>
{% endblock %}
