{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container lg:max-w-screen-lg mx-auto mt-5 pt-10">
    <p class="mt-5">
        <p class="mb-3"></p><strong>Privacy Policy for Foodiehub</strong><p ></p>
        At Foodiehub, we take your privacy seriously. This privacy policy outlines the types of personal information that we may collect and how it is used.

        <p class="mb-3"></p><strong>Information Collected</strong><p ></p>
        We may collect information that can identify you, such as your name, email address, and other contact information, when you voluntarily provide it to us. Additionally, we may collect information about your computer or device, browser type, and operating system. We may also use cookies and similar tracking technologies to collect information about your use of our website.

        <p class="mb-3"></p><strong>Use of Information</strong><p ></p>
        We use the information that we collect to provide and improve our services, respond to your inquiries, and communicate with you about our products and services. We may also use the information to personalize your experience on our website and to analyze website usage.

        We will not sell or share your personal information with third parties for their own marketing purposes. We may share your personal information with service providers who perform services on our behalf, such as payment processors or website hosting companies.

        <p class="mb-3"></p><strong>Security</strong><p ></p>
        We take appropriate measures to protect the security of your personal information, both during transmission and after it is received. However, no transmission over the internet is 100% secure, so we cannot guarantee the absolute security of your information.

        <p class="mb-3"></p><strong>Your Choices</strong><p ></p>
        You can choose not to provide us with certain information, but this may limit your ability to use some features of our website.

        You can opt-out of receiving marketing communications from us at any time by following the instructions provided in the communication.

        <p class="mb-3"></p><strong>Cookies</strong><p ></p>
        We may use cookies and similar tracking technologies to collect information about your use of our website. You can disable cookies in your browser settings, but this may limit your ability to use some features of our website.

        <p class="mb-3"></p><strong>Changes to this Policy</strong><p ></p>
        We may update this privacy policy from time to time. We will notify you of any significant changes by posting a prominent notice on our website.

        <p class="mb-3"></p><strong>Contact Us</strong><p ></p>
        If you have any questions or concerns about our privacy policy, please contact us at 9958896169.
    </p>
</div>
{% endblock %}