<div class="mt-5 md:col-span-2 md:mt-0 mb-5">
    <form action="#" method="POST" >
      <input type="hidden" value="address", name="form_type">
      {% csrf_token %}
      <div class="overflow-hidden ">
        <div class="bg-white p-2 sm:p-6">
          <div class="mb-2">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Address</h3>
            <p class="mt-1 text-sm text-gray-600">Use a permanent address where you can receive delivery.</p>
          </div>
          <div class="grid grid-cols-6 gap-2">

            <div class="col-span-6 sm:col-span-6">
              <label for="street" class="block text-sm font-medium text-gray-700">Street/House number</label>
              <input type="text" name="street" id="street" value="{{address.street}}"
                autocomplete="address" required
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm border p-1 py-2 sm:text-sm">
            </div>
            <div class="col-span-3 sm:col-span-4">
              <label for="landmark" class="block text-sm font-medium text-gray-700">landmark</label>
              <input type="text" name="landmark" id="landmark" value="{{address.landmark}}"
                autocomplete="apartment" required
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm border p-1 py-2 sm:text-sm">
            </div>

            <div class="col-span-6">
              <label for="locality" class="block text-sm font-medium text-gray-700">Locality/apartment</label>
              <input type="text" name="locality" id="locality" value="{{address.locality}}"
                autocomplete="locality"
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm border p-1 py-2 sm:text-sm">
            </div>

            <div class="col-span-6 sm:col-span-6 lg:col-span-2">
              <label for="city" class="block text-sm font-medium text-gray-700">Area</label>
              {% comment %} <input type="text" name="city" id="city" autocomplete="address-level2" value="{{address.city}}" required
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm border p-1 py-2 sm:text-sm">
                 {% endcomment %}

                <select class="mt-1 block w-full h-10 text-center rounded-md border-gray-300 shadow-sm border p-1 py-2 sm:text-sm" name="city" id="city">
                  {% include 'components/delhi-area.html' %}
                </select>
                 
            </div>


            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
              <label for="pincode" class="block text-sm font-medium text-gray-700">Pincode</label>
              <input type="text" name="pincode" id="pincode" value="{{address.pincode}}"
                autocomplete="pincode" required
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm border p-1 py-2 sm:text-sm">
            </div>

          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
          <button type="submit"
            class=" inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            Save address</button>
        </div>
      </div>
    </form>
  </div>

