<option value="Aali" >Aali </option>
<option value="Alipur" >Alipur </option>
<option value="Asola" >Asola </option>
<option value="Aya Nagar" >Aya Nagar</option> 
<option value="Babarpur" >Babarpur </option>
<option value="Bakhtawarpur" >Bakhtawarpur </option>
<option value="Bakkar Wala" >Bakkar </option> 
<option value="Bankauli" >Bankauli </option>
<option value="Bankner" >Bankner </option>
<option value="Bapraula" >Bapraula </option>
<option value="Baqiabad" >Baqiabad </option>
<option value="Barwala" >Barwala </option>
<option value="Bawana" >Bawana </option>
<option value="Begum Pur" >Begum Pur</option> 
<option value="Bhalswa Jahangirpur" >Bhalswa Jahangirpur</option> 
<option value="Bhati" >Bhati </option>
<option value="Bhor Garh" >Bhor Garh</option> 
<option value="Burari" >Burari </option>
<option value="ChandanHola" >ChandanHola</option> 
<option value="Chattarpur" >Chattarpur </option>
<option value="Chhawala" >Chhawala </option>
<option value="Chilla Saroda Bangar" >Chilla Saroda Bangar</option> 
<option value="Chilla Saroda Khadar" >Chilla Saroda Khadar</option> 
<option value="Daryapur Kalan" >Daryapur Kalan</option> 
<option value="Dayalpur" >Dayalpur </option>
<option value="Dallopura" >Dallopura </option>
<option value="Dindarpur" >Dindarpur </option>
<option value="Deoli" >Deoli </option>
<option value="Dera Mandi" >Dera Mandi</option> 
<option value="Fatehpur Beri" >Fatehpur Beri</option> 
<option value="Gharonda Neemka Bangar (Patparganj)</" >Gharonda Neemka Bangar (Patparganj)</option> 
<option value="Gharoli" >Gharoli </option>
<option value="Gheora" >Gheora </option>
<option value="Gokalpur" >Gokalpur </option>
<option value="Ghitorni" >Ghitorni </option>
<option value="Hastsal" >Hastsal </option>
<option value="Ibrahimpur" >Ibrahimpur </option>
<option value="Jaitpur" >Jaitpur </option>
<option value="Jiwanpur (Johripur)" >Jiwanpur (Johripur)</option> 
<option value="Jaffrabad" >Jaffrabad </option>
<option value="Jharoda Kalan" >Jharoda Kalan</option> 
<option value="Jonapur" >Jonapur </option>
<option value="Jharoda Majra Burari" >Jharoda Majra Burari</option> 
<option value="Kanjhawala" >Kanjhawala </option>
<option value="Kamalpur Majra Burari" >Kamalpur Majra Burari</option> 
<option value="Kapas Hera" >Kapas Hera</option> 
<option value="Karala" >Karala </option>
<option value="Karawal Nagar" >Karawal Nagar</option> 
<option value="Kair" >Kair </option>
<option value="Khanpur Dhani" >Khanpur Dhani</option> 
<option value="Khajoori Khas" >Khajoori Khas</option> 
<option value="Khera" >Khera </option>
<option value="Khera Kalan" >Khera Kalan</option> 
<option value="Khera Khurd" >Khera Khurd</option> 
<option value="Kirari Suleman Nagar" >Kirari Suleman Nagar</option> 
<option value="Kondli" >Kondli </option>
<option value="Kotla Mahigiran" >Kotla Mahigiran</option> 
<option value="Kusumpur" >Kusumpur </option>
<option value="Ladpur" >Ladpur </option>
<option value="Libaspur" >Libaspur </option>
<option value="Maidan Garhi" >Maidan Garhi</option> 
<option value="Mehrauli" >Mehrauli </option>
<option value="Mukhmelpur" >Mukhmelpur </option>
<option value="Moradabad Pahari" >Moradabad Pahari</option> 
<option value="Malikpur Kohi (Rangpuri)" >Malikpur Kohi (Rangpuri)</option> 
<option value="Mithepur" >Mithepur </option>
<option value="Molarband" >Molarband </option>
<option value="Mirpur Turk" >Mirpur Turk</option> 
<option value="Mubarak Pur Dabas" >Mubarak Pur Dabas</option> 
<option value="Mustafabad" >Mustafabad </option>
<option value="Mohammad Pur Majri" >Mohammad Pur Majri</option> 
<option value="Mandoli" >Mandoli </option>
<option value="Mukandpur" >Mukandpur </option>
<option value="Mundka" >Mundka </option>
<option value="Mitraon" >Mitraon </option>
<option value="Nilothi" >Nilothi </option>
<option value="Nangloi Jat" >Nangloi Jat</option> 
<option value="Nithari" >Nithari </option>
<option value="Neb Sarai" >Neb Sarai</option> 
<option value="Nangli Sakrawati" >Nangli Sakrawati</option> 
<option value="Pooth Kalan" >Pooth Kalan</option> 
<option value="Pooth Khurd" >Pooth Khurd</option> 
<option value="Pul Pehlad" >Pul Pehlad</option> 
<option value="Prahlad Pur Bangar" >Prahlad Pur Bangar</option> 
<option value="Qadipur" >Qadipur </option>
<option value="Quammruddin Nagar" >Quammruddin Nagar</option> 
<option value="Rajapur Khurd" >Rajapur Khurd</option> 
<option value="Rajokri" >Rajokri </option>
<option value="Rani Khera" >Rani Khera</option> 
<option value="Roshanpura (Dichaon Khurd)" >Roshanpura (Dichaon Khurd)</option> 
<option value="Sultanpur Majra" >Sultanpur Majra</option> 
<option value="Saidabad" >Saidabad </option>
<option value="Shakarpur Baramad" >Shakarpur Baramad</option> 
<option value="Sadatpur Gujran" >Sadatpur Gujran</option> 
<option value="Siraspur" >Siraspur </option>
<option value="Sahibabad Daulatpur" >Sahibabad Daulatpur</option> 
<option value="Shafipur Ranhola" >Shafipur Ranhola</option> 
<option value="Tikri Kalan" >Tikri Kalan</option> 
<option value="Sambhalka" >Sambhalka </option>
<option value="Sultanpur" >Sultanpur </option>
<option value="Saidul Azaib" >Saidul Azaib</option> 
<option value="Taj Pul" >Taj Pul</option> 
<option value="Tukhmirpur" >Tukhmirpur </option>
<option value="Tilangpur Kotla" >Tilangpur Kotla</option> 
<option value="Tigri" >Tigri </option>
<option value="Tikri Khurd" >Tikri Khurd</option> 
<option value="Ziauddinpur" >Ziauddinpur </option>